#general__nav{
    height: 4rem;
    background-color: $ColorSecu;
    grid-area: nav;
    z-index: 100;
    div{
        width: 90%;
        .header__logo{
            a{
                h2{
                    @include fuentes (2rem,$ColorPri_1,600);
                    font-family: 'Josefin Sans', sans-serif;
                        &:hover{
                            transform: scale(1.2);
                            transition-duration: .4s;
                            }
                }
            }
        }
        #check{
            display: none;
        }
        .nav__bars{
            font-size:1.5rem;
            cursor: pointer;
            display: none;
        }
        .header__menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__secciones{
                li{
                    a{
                        @include fuentes (1rem,$ColorPri_1,400);
                        font-family: 'Josefin Sans', sans-serif;
                            &:hover{
                                 color:$ColorAcento;
                                 transition-duration: .2s;
                            }
                    }
                }
            }
            .header__redes{
                li{
                    a{
                        i{
                            color: $ColorPri_1;
                            &:hover{
                                transform: scale(1.2);
                                transition-duration: .4s;
                            }
                        }
                    }
                }
            }
        }
        .w-75{
            width: 85% !important;
        } 
    }


}