#general__nav{
    height: 4rem;
    background-color: $ColorSecu;
    grid-area: nav;
    z-index: 100;
    div{
        width: 90%;
        .header__logo{
            a{
                h2{
                    color: $ColorPri_2;
                    &:hover{
                        transform: scale(1.2);
                        transition-duration: .4s;
                    }
                }
            }
        }
        #check{
            display: none;
        }
        .nav__bars{
            font-size:1.5rem;
            cursor: pointer;
            display: none;
        }
        .header__menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__secciones{
                li{
                    a{
                        color: $ColorPri_1;
                        &:hover{
                            color:$ColorPri_2 ;
                            transition-duration: .2s;
                        }
                    }
                }
            }
            .header__redes{
                li{
                    a{
                        i{
                            color: $ColorPri_2;
                            &:hover{
                                transform: scale(1.2);
                                transition-duration: .4s;
                            }
                        }
                    }
                }
            }
        }
        .w-75{
            width: 85% !important;
        } 
    }


}