#nosotros{
    margin-top: 25vh;
    .nosotros__contenedor{
        width: 97%;
        margin: 6rem 0rem;
        div{
            div{
                h3{
                    color: $ColorAcento;
                }
                p{
                    color: $ColorSecu;
                }
            }
        }
    }
}