#nosotros{
    margin-top: 25vh;
    .nosotros__contenedor{
        width: 97%;
        margin: 6rem 0rem;
        div{
            div{
                .nosotros__titulo{
                    @include fuentes (1.8rem,$ColorAcento,600)
                    font-family: 'Josefin Sans', sans-serif;
                }
                p{
                    @include fuentes (1.1rem,black,400)
                    font-family: 'Josefin Sans', sans-serif;
                }
            }
        }
    }
}