#portafolio{
    margin-top: 25vh;
    .portafolio__contenedor{
        margin:5rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        div{
            .portafolio__titulo{
                @include fuentes (1.8rem,$ColorAcento,600);
                font-family: 'Josefin Sans', sans-serif;
            }
            p{
                @include fuentes (1.1rem,black,400);
                font-family: 'Josefin Sans', sans-serif;
            }
        }
        .portafolio__galeria{
            width: 95vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-column-gap: 2rem;
            div{
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.5s;
                }
                span{
                    background-color: aqua;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    &:hover{
                        display: block;

                    }
                }
                
            }
            .portafolio__galeria--4{
                display: none;
            }
        }
    }
}