$Primario_2:hsla(56, 32%, 90%, 0.9);
$Primario_1:rgba(224, 221, 170, 0.9);
$Secundario_1:rgba(32, 50, 57, 0.9);
$Secundario_1:rgba(32, 50, 57, 0.9);

$ColorAcento: #141E27;
$ColorSecu: #203239;
$ColorPri_2: #E0DDAA;
$ColorPri_1: #EEEDDE;