/*todavia no agrego fuentes*/
* {
  padding: 0;
  margin: 0;
  list-style: none; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%; }

/* Botones generales */
a button, input#boton__enviar {
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgba(224, 221, 170, 0.9);
  background: #141E27;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 1.8rem;
  border: 2px solid rgba(224, 221, 170, 0.9);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #EEEDDE; }

a button:hover, input#boton__enviar:hover {
  color: #EEEDDE;
  box-shadow: inset 0 -100px 0 0 #203239; }

a button:active, input#boton__enviar:active {
  transform: scale(0.9); }

#general__nav {
  height: 4rem;
  background-color: #203239;
  grid-area: nav;
  z-index: 100; }
  #general__nav div {
    width: 90%; }
    #general__nav div .header__logo a h2 {
      color: #E0DDAA; }
      #general__nav div .header__logo a h2:hover {
        transform: scale(1.2);
        transition-duration: .4s; }
    #general__nav div #check {
      display: none; }
    #general__nav div .nav__bars {
      font-size: 1.5rem;
      cursor: pointer;
      display: none; }
    #general__nav div .header__menu {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #general__nav div .header__menu .header__secciones li a {
        color: #EEEDDE; }
        #general__nav div .header__menu .header__secciones li a:hover {
          color: #E0DDAA;
          transition-duration: .2s; }
      #general__nav div .header__menu .header__redes li a i {
        color: #E0DDAA; }
        #general__nav div .header__menu .header__redes li a i:hover {
          transform: scale(1.2);
          transition-duration: .4s; }
    #general__nav div .w-75 {
      width: 85% !important; }

header {
  background: linear-gradient(to right, rgba(238, 237, 221, 0.9), rgba(238, 237, 221, 0.9), rgba(238, 237, 221, 0.9)), url(../imagenes/programming-g73a2198f0_1280.png);
  width: 100%;
  height: auto; }
  header #header__index {
    display: grid;
    grid-template-areas: "nav nav" "texto extra";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 8rem;
    grid-column-gap: 1rem;
    padding-bottom: 8rem; }
    header #header__index nav {
      height: 4rem;
      background-color: #203239;
      grid-area: nav;
      z-index: 100; }
      header #header__index nav div {
        width: 90%; }
        header #header__index nav div .nav__logo a h2 {
          color: #E0DDAA; }
          header #header__index nav div .nav__logo a h2:hover {
            transform: scale(1.2);
            transition-duration: .4s; }
        header #header__index nav div #check {
          display: none; }
        header #header__index nav div .nav__bars {
          font-size: 1.5rem;
          cursor: pointer;
          display: none; }
        header #header__index nav div .nav__menu {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          header #header__index nav div .nav__menu .nav__secciones li a {
            color: #EEEDDE; }
            header #header__index nav div .nav__menu .nav__secciones li a:hover {
              color: #E0DDAA;
              transition-duration: .2s; }
          header #header__index nav div .nav__menu .nav__redes li a i {
            color: #E0DDAA; }
            header #header__index nav div .nav__menu .nav__redes li a i:hover {
              transform: scale(1.2);
              transition-duration: .4s; }
        header #header__index nav div .w-75 {
          width: 85% !important; }
    header #header__index .header__texto {
      grid-area: texto;
      margin-left: 1rem; }
      header #header__index .header__texto h1 {
        color: #141E27;
        font-size: 1.5rem;
        margin-top: 2rem; }
      header #header__index .header__texto h2 {
        font-weight: 500;
        word-spacing: 70%;
        color: #203239;
        font-size: 4rem; }
      header #header__index .header__texto p {
        color: #203239;
        line-height: 2; }
    header #header__index .header__extra {
      grid-area: extra;
      margin-right: 1rem;
      background-image: url(../imagenes/header.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

#nosotros {
  margin-top: 25vh; }
  #nosotros .nosotros__contenedor {
    width: 97%;
    margin: 6rem 0rem; }
    #nosotros .nosotros__contenedor div div h3 {
      color: #141E27; }
    #nosotros .nosotros__contenedor div div p {
      color: #203239; }

#servicios {
  margin-top: 25vh; }
  #servicios .servicios__contenedor {
    display: grid;
    grid-template-areas: "serviciosTexto" "serviciosDesta" "precioTitulo" "serviciosPre" "serviciosMantT" "serviciosMant";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto; }
    #servicios .servicios__contenedor .servicios__texto {
      grid-area: serviciosTexto;
      background-color: rgba(224, 221, 170, 0.9); }
      #servicios .servicios__contenedor .servicios__texto h3 {
        color: #141E27; }
      #servicios .servicios__contenedor .servicios__texto p {
        color: #203239; }
    #servicios .servicios__contenedor .servicios__destacados {
      grid-area: serviciosDesta;
      background-color: rgba(224, 221, 170, 0.9); }
      #servicios .servicios__contenedor .servicios__destacados .servicios__des--cont {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1.5rem; }
        #servicios .servicios__contenedor .servicios__destacados .servicios__des--cont div h3 {
          color: #141E27; }
        #servicios .servicios__contenedor .servicios__destacados .servicios__des--cont div p {
          color: #203239; }
    #servicios .servicios__contenedor .servicios__precios--titulo {
      grid-area: precioTitulo;
      margin-top: 10rem;
      padding: 1rem 0rem;
      background-color: rgba(32, 50, 57, 0.9); }
      #servicios .servicios__contenedor .servicios__precios--titulo h3 {
        color: #E0DDAA; }
    #servicios .servicios__contenedor .servicios__precios {
      grid-area: serviciosPre;
      background-color: rgba(32, 50, 57, 0.9); }
      #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2.5rem; }
        #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont div {
          background-color: #E0DDAA; }
          #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont div div {
            color: #141E27; }
          #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont div ul {
            color: #203239; }
            #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont div ul li {
              list-style: circle; }
    #servicios .servicios__contenedor .servicios__mantenimiento--titulo {
      grid-area: serviciosMantT;
      margin-top: 10rem;
      padding: 1rem 0rem;
      background-color: rgba(224, 221, 170, 0.9);
      border-bottom: 0.5px solid rgba(32, 50, 57, 0.9); }
      #servicios .servicios__contenedor .servicios__mantenimiento--titulo h3 {
        color: #141E27; }
    #servicios .servicios__contenedor .servicios__mantenimiento {
      grid-area: serviciosMant;
      background-color: rgba(224, 221, 170, 0.9); }
      #servicios .servicios__contenedor .servicios__mantenimiento .servicios__mant--cont {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 2.5rem; }
        #servicios .servicios__contenedor .servicios__mantenimiento .servicios__mant--cont div div h3 {
          color: #141E27; }
        #servicios .servicios__contenedor .servicios__mantenimiento .servicios__mant--cont div p {
          color: #203239; }

#portafolio {
  margin-top: 25vh; }
  #portafolio .portafolio__contenedor {
    margin: 5rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem; }
    #portafolio .portafolio__contenedor div h3 {
      color: #141E27; }
    #portafolio .portafolio__contenedor div p {
      color: #203239; }
    #portafolio .portafolio__contenedor .portafolio__galeria {
      width: 95vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 2rem; }
      #portafolio .portafolio__contenedor .portafolio__galeria div:hover {
        transform: scale(1.05);
        transition-duration: 0.5s; }
      #portafolio .portafolio__contenedor .portafolio__galeria .portafolio__galeria--4 {
        display: none; }

#equipo {
  margin-top: 25vh;
  background-color: rgba(224, 221, 170, 0.9); }
  #equipo .equipo__contenedor {
    width: 95vw;
    display: grid;
    grid-template-areas: "equipoTexto equipoImg" "equipoBoton equipoImg";
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 2rem; }
    #equipo .equipo__contenedor .equipo__texto {
      grid-area: equipoTexto; }
      #equipo .equipo__contenedor .equipo__texto h3 {
        color: #141E27; }
      #equipo .equipo__contenedor .equipo__texto p {
        color: #203239; }
    #equipo .equipo__contenedor .equipo__boton {
      grid-area: equipoBoton; }

#contacto {
  margin-top: 25vh;
  margin-bottom: 10vh; }
  #contacto .contacto__contenedor {
    width: 95vw;
    margin: 5rem 0rem;
    display: grid;
    grid-template-areas: "contactoMap contactoTexto" "contactoMap contactoFormu";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 0.5rem;
    grid-column-gap: 2rem; }
    #contacto .contacto__contenedor .contacto__mapa {
      grid-area: contactoMap; }
      #contacto .contacto__contenedor .contacto__mapa iframe {
        width: 95%;
        height: 95%; }
    #contacto .contacto__contenedor .contacto__texto {
      grid-area: contactoTexto; }
      #contacto .contacto__contenedor .contacto__texto h3 {
        color: #141E27; }
      #contacto .contacto__contenedor .contacto__texto p {
        color: #203239; }
    #contacto .contacto__contenedor .contacto__formulario {
      grid-area: contactoFormu;
      display: grid;
      grid-template-areas: "nombre correo" "msj msj" "enviar enviar";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2rem 10rem 2rem;
      grid-column-gap: 1rem;
      grid-row-gap: 0.5rem;
      justify-items: center; }
      #contacto .contacto__contenedor .contacto__formulario .nombre {
        grid-area: nombre;
        width: 98%;
        padding-left: 0.5rem; }
      #contacto .contacto__contenedor .contacto__formulario .correo {
        grid-area: correo;
        width: 98%;
        padding-left: 0.5rem; }
      #contacto .contacto__contenedor .contacto__formulario .msj {
        grid-area: msj;
        width: 95%;
        padding-left: 0.5rem;
        padding-top: 0.2rem; }
      #contacto .contacto__contenedor .contacto__formulario #boton__enviar {
        grid-area: enviar; }

footer {
  background-color: #203239;
  margin-bottom: 0; }
  footer .footer__contenedor {
    width: 95%;
    display: grid;
    grid-template-areas: "footerLogo footerLogo footerLogo" "footerDirec footerRedes footerLegal" "footerInfo footerInfo footerInfo";
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 0.5rem; }
    footer .footer__contenedor .footer__logo {
      margin-top: 1rem;
      grid-area: footerLogo; }
      footer .footer__contenedor .footer__logo a {
        text-decoration: none;
        color: #E0DDAA;
        font-size: 1.4rem; }
        footer .footer__contenedor .footer__logo a:hover {
          transform: scale(1.2);
          transition-duration: 0.4s; }
    footer .footer__contenedor .footer__direcciones {
      grid-area: footerDirec; }
      footer .footer__contenedor .footer__direcciones ul li {
        color: #EEEDDE;
        margin: 0.2rem 0rem;
        font-size: 1.1rem; }
    footer .footer__contenedor .footer__redes {
      grid-area: footerRedes; }
      footer .footer__contenedor .footer__redes ul li a i {
        color: #E0DDAA; }
        footer .footer__contenedor .footer__redes ul li a i:hover {
          transform: scale(1.2);
          transition-duration: .4s; }
    footer .footer__contenedor .footer__legales {
      grid-area: footerLegal; }
      footer .footer__contenedor .footer__legales ul li a {
        color: #EEEDDE;
        margin: 0.2rem 0rem;
        font-size: 1.1rem;
        text-decoration: none; }
    footer .footer__contenedor .footer__info {
      grid-area: footerInfo;
      display: flex;
      justify-content: center; }
      footer .footer__contenedor .footer__info p {
        color: #E0DDAA; }

.conocenos__contenedor {
  margin: 5rem 0rem;
  width: 90%; }
  .conocenos__contenedor .conocenos__titulo {
    width: 90%;
    padding: 2rem 0rem; }
    .conocenos__contenedor .conocenos__titulo h3 {
      color: #141E27; }
  .conocenos__contenedor .conocenos__galeria {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 3rem;
    justify-content: center; }
    .conocenos__contenedor .conocenos__galeria div {
      background-color: silver; }

.trabajos__contenedor {
  margin: 5rem 0rem;
  width: 90%; }
  .trabajos__contenedor .trabajos__titulo {
    width: 90%;
    padding: 2rem 0rem; }
    .trabajos__contenedor .trabajos__titulo h3 {
      color: #141E27; }
  .trabajos__contenedor .trabajos__galeria {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 15rem);
    gap: 2rem;
    justify-content: center; }
    .trabajos__contenedor .trabajos__galeria div {
      background-color: silver;
      border-radius: 6%; }

@media (max-width: 992px) {
  header #header__index {
    grid-template-columns: 1fr 0.7fr; }
  #nosotros .nosotros__contenedor div div {
    align-items: center; }
    #nosotros .nosotros__contenedor div div p {
      width: 90%;
      text-align: center; }
    #nosotros .nosotros__contenedor div div img {
      width: 90%; }
  #servicios .servicios__contenedor .servicios__destacados .servicios__des--cont {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2.5rem; }
  #servicios .servicios__contenedor .servicios__mantenimiento .servicios__mant--cont {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 3rem; }
  #portafolio .portafolio__contenedor .portafolio__galeria {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; }
    #portafolio .portafolio__contenedor .portafolio__galeria .portafolio__galeria--4 {
      display: block; }
  #equipo .equipo__contenedor {
    grid-template-areas: "equipoTexto" "equipoImg" "equipoBoton";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center; }
    #equipo .equipo__contenedor .equipo__texto {
      width: 90%; }
      #equipo .equipo__contenedor .equipo__texto p {
        text-align: center; }
      #equipo .equipo__contenedor .equipo__texto h3 {
        text-align: center; }
    #equipo .equipo__contenedor .equipo__img {
      width: 90%; }
  .conocenos__contenedor .conocenos__galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30rem); }
  .trabajos__contenedor .trabajos__galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 15rem); } }

@media (max-width: 900px) {
  header #header__index {
    grid-template-columns: 1fr 0.3fr; }
    header #header__index nav div .nav__bars {
      display: block; }
    header #header__index nav div #check:checked ~ .nav__menu {
      height: 50vh; }
    header #header__index nav div #check:checked ~ .nav__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 4rem;
      right: 0;
      background-color: rgba(245, 245, 245, 0.95); }
    header #header__index nav div .nav__menu {
      display: none; }
    header #header__index nav div .nav__secciones {
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      header #header__index nav div .nav__secciones li a:hover {
        color: #aa4b6a;
        transition-duration: .3s; }
    header #header__index .header__extra {
      display: none; }
  #general__nav div .nav__bars {
    display: block; }
  #general__nav div .header__menu {
    display: none; }
  #general__nav div #check:checked ~ .header__menu {
    height: 50vh; }
  #general__nav div #check:checked ~ .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 4rem;
    right: 0;
    background-color: rgba(245, 245, 245, 0.95); }
  #general__nav div .header__menu {
    display: none; }
  #general__nav div .header__secciones {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    #general__nav div .header__secciones li a:hover {
      color: #aa4b6a;
      transition-duration: .3s; }
  #contacto .contacto__contenedor {
    grid-template-areas: "contactoMap" "contactoTexto" "contactoFormu";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1rem;
    width: 90%; }
    #contacto .contacto__contenedor .contacto__mapa {
      grid-area: contactoMap; }
      #contacto .contacto__contenedor .contacto__mapa iframe {
        height: 15rem; }
  #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; }
  .trabajos__contenedor .trabajos__galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 15rem); } }

@media (max-width: 768px) {
  #servicios .servicios__contenedor .servicios__destacados .servicios__des--cont {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto; }
  #servicios .servicios__contenedor .servicios__mantenimiento .servicios__mant--cont {
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 3rem; }
  #servicios .servicios__contenedor .servicios__precios .servicios__pre--cont {
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; }
  #portafolio .portafolio__contenedor .portafolio__galeria {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; }
    #portafolio .portafolio__contenedor .portafolio__galeria .portafolio__galeria--4 {
      display: none; }
  footer .footer__contenedor {
    grid-template-columns: 1fr 1.5rem 1fr;
    grid-template-rows: auto auto auto; }
    footer .footer__contenedor .footer__redes {
      display: none !important; }
  .conocenos__contenedor .conocenos__galeria {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 30rem); }
  .trabajos__contenedor .trabajos__galeria {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 20rem); } }
