*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
body{
    width: 100%;
}
header{
    background: hsla(340, 39%, 48%, 0.9);  
    background: -webkit-linear-gradient(to right, rgba(60, 142, 154, 0.9), rgba(108, 108, 132, 0.8), hsla(340, 39%, 48%, 0.9));  
    background: linear-gradient(to right, rgba(60, 142, 154, 0.9), hsla(240, 10%, 47%, 0.9), rgba(170, 75, 106, 0.9)),url(../imagenes/programming-g73a2198f0_1280.png);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.header__nav{
    background-color: whitesmoke;
    grid-area: nav;
    z-index: 100;
}
.header__nav div{
    width: 90%;
    margin: 1rem 0rem;
}
.header__menu{
    width: 70%;
    position: relative;
    left: 2.5rem;
}
.header__menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

/* Color a las secciones del menu */
.header__menu li a:hover{
    color:rgba(170, 75, 106, 1);
}
/* Color a las secciones del menu*/
.header__logo{
    text-decoration: none;
    color: rgba(60, 142, 154, 0.9);
    font-size: 1.4rem;
}
.header__logo:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.header__redes--insta img{
    height: 1.1rem;
    width: 1.1rem;
    max-width: 100%;
}
.header__redes--insta img:hover,
.header__redes--face img:hover,
.footer__redes--insta img:hover,
.footer__redes--face img:hover{
    transform:scale(1.2);
    transition-duration: 0.5s;
}
.header__redes--face img{
    height: 1.1rem;
    width: 1.1rem;
    max-width: 100%;
}
.header__texto{
    grid-area: texto;
    margin-left: 1rem;
}
/* Texto de caja de texto */
.header__texto p{
    color: azure;
    font-size: 1rem;
    line-height: 2;
}
.header__texto h1{
    color:rgb(184, 184, 184);
    font-size: 1.5rem;
    margin-top: 2rem;
}
.header__texto h2{
    font-weight:500;
    word-spacing: 70%;
    color:white;
    font-size: 4rem;
}
/* Termina texto de caja de texto */
.header__extra{
    grid-area: extra;
    margin-right: 1rem;
    background-image: url(../imagenes/Asset\ selection-amico.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#header__index{
    
    display: grid;
    grid-template-areas: 
    "nav nav"
    "texto extra";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 8rem;
    grid-column-gap: 1rem;
    margin-bottom: 11rem;
}

/* Termina header */

/* Empeiza Nosotros */
#nosotros{
    margin-top: 25vh;
}
.nosotros__contenedor{
    width: 97%;
    margin: 6rem 0rem;
}

/* Epieza servicios */

#servicios{
    margin-top: 25vh;
}
.servicios__contenedor{
    display: grid;
   grid-template-areas: 
   "serviciosTexto"
   "serviciosDesta"
   "precioTitulo"
   "serviciosPre"
   "serviciosMantT"
   "serviciosMant";
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto auto auto auto;
}
/* Empieza texto de servicios */

.servicios__texto{
    grid-area: serviciosTexto;
}

/* Termina texto de servicios */

/* Empieza Destacados */
.servicios__destacados{
    grid-area: serviciosDesta;
}
.servicios__des--cont{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
}
/* Termina Destacados */

/* Empieza Precios*/
.servicios__precios--titulo{
    grid-area: precioTitulo;
}
.servicios__precios{
   grid-area: serviciosPre;
}
.servicios__pre--cont{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:2.5rem;
 }
/* Termina precios */

/* Empieza mantenimiento */

.servicios__mantenimiento--titulo{
    grid-area: serviciosMantT;
}

.servicios__mantenimiento{
    grid-area: serviciosMant;
}
.servicios__mant--cont{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2.5rem;
}

/* Termina servicios */

/* Empieza portafolio */
#portafolio{
    margin-top: 25vh;
}
.portafolio__contenedor{
    margin:5rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
}

.portafolio__boton a button{
    height: 2.3rem;
    width: 7rem;
    cursor: pointer;
    background:rgba(170, 67, 101, 0.30) ;
    border: solid 2px rgb(170, 67, 101) ;
    border-radius: 10%;
}

.portafolio__boton a button:hover{
    background-color: rgba(170, 67, 101, 0.6);
    transform: scale(1.05);
    transition-duration: 1s;
}
.portafolio__galeria div:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.portafolio__galeria--4{
    display: none;
}
.portafolio__galeria{
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
}
/* Termina Portafolio */

/* Empieza equipo*/
#equipo{
    margin-top: 25vh;
}
.equipo__contenedor{
    width: 95vw;
    margin: 6rem 0rem;
    display: grid;
    grid-template-areas: 
    "equipoTexto equipoImg"
    "equipoBoton equipoImg";
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

}
.equipo__texto{
    grid-area: equipoTexto;
}
.equipo__boton{
    grid-area: equipoBoton;
}
.equipo__boton a button{
    height: 2.3rem;
    width: 7rem;
    cursor: pointer;
    background: rgba(160, 89, 113, 0.30);
    border: solid 2px rgb(170, 67, 101) ;
    border-radius: 10%;
}
.equipo__boton a button:hover{
    background-color: rgba(170, 67, 101, 0.6);
    transform: scale(1.05);
    transition-duration: 1s;
}
 /*Termina equipo */

/* Empieza contactos */
#contacto{
    margin-top: 25vh;
    margin-bottom: 10vh;
}
.contacto__contenedor{
    width: 95vw;
    margin: 5rem 0rem;
    display: grid;
    grid-template-areas: 
    "contactoMap contactoTexto"
    "contactoMap contactoFormu";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 0.5rem;
    grid-column-gap: 2rem;

}
.contacto__mapa{
    grid-area: contactoMap;
}
.contacto__mapa iframe{
    width: 95%;
    height: 95%;
}
.contacto__texto{
    grid-area: contactoTexto;
}
.equipo__boton button{
    height: 2.3rem;
    width: 7rem;
    cursor: pointer;
    background:rgba(170, 67, 101, 0.30) ;
    border: solid 2px rgb(170, 67, 101) ;
    border-radius: 10%;
}

.equipo__boton button:hover{
    background-color: rgba(170, 67, 101, 0.6);
    transform: scale(1.05);
    transition-duration: 1s;
}
/* Contacto FORMULARIO */
.contacto__formulario{
    grid-area: contactoFormu;

    display: grid;
    grid-template-areas: 
    "nombre correo"
    "msj msj"
    "enviar enviar";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 10rem 2rem;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    justify-items: center;
}
.nombre{
    grid-area: nombre;
    width: 98%;
}
.correo{
    grid-area: correo;
    width: 98%;
}
.msj{
    grid-area: msj;
    width: 95%;
}
.enviar{
    grid-area: enviar;
    width: 20%;
}
/* Contacto FORMULARIO */
/* Footer */
footer{
    background-color: rgba(108, 108, 132, 1);

}
.footer__contenedor{
    width: 95%;
    display: grid;
    grid-template-areas: 
    "footerLogo footerLogo footerLogo"
    "footerDirec footerRedes footerLegal"
    "footerInfo footerInfo footerInfo";
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto 5rem auto;
    grid-row-gap: 0.5rem;
}
.footer__logo{
    margin-top: 1rem;
    grid-area: footerLogo;
}
.footer__logo a{
    text-decoration: none;
    color: rgba(60, 142, 154, 0.9);
    font-size: 1.4rem;
}
.footer__logo a:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.footer__direcciones{
    grid-area: footerDirec;
}
.footer__direcciones ul li,.footer__legales ul li{
    color: azure;
    margin:0.2rem 0rem;
    font-size: 1.1rem;
}
.footer__redes{
    grid-area: footerRedes;
}
.footer__redes--insta img{
    height: 1.2rem;
    width: 1.2rem;
    max-width: 100%;
}
.footer__redes--face img{
    height: 1.2rem;
    width: 1.2rem;
    max-width: 100%;
}

.footer__legales{
    grid-area: footerLegal;
}
.footer__legales ul li a,.footer__direcciones ul li{
    color: azure;
    margin:0.2rem 0rem;
    font-size: 1.1rem;
    text-decoration: none;
}
.footer__info{
    grid-area: footerInfo;
    display: flex;
    justify-content: center;
}
.footer__info p{
    color: azure;
}
/* Termina footer */

/* Empieza conocenos */

.conocenos__contenedor{
    margin:5rem 0rem;
    width: 90%;
}
.conocenos__galeria div{
    background-color: silver;

}
.conocenos__titulo{
    width: 90%;
    padding: 2rem 0rem;
}
.conocenos__galeria{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,30rem);
    gap: 3rem;
    justify-content: center;
}
/* empeiza mastrabajos */
.trabajos__contenedor{
    margin:5rem 0rem;
    width: 90%;
}
.trabajos__galeria div{
    background-color: silver;
    border-radius: 6%;
}
.trabajos__galeria div:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.trabajos__titulo{
    width: 90%;
    padding: 2rem 0rem;
}
.trabajos__galeria{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,15rem);
    gap: 2rem;
    justify-content: center;
}

/* Aplicacion de media */
@media (max-width:990px)
{
    #header__index{
        display: grid;
        grid-template-areas: 
        "nav nav"
        "texto extra";
        grid-template-columns: 1fr 0.6fr;
    }
    .servicios__destacados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25rem 25rem 25rem;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    .servicios__mantenimiento{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25rem 25rem 25rem;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    .portafolio__galeria--4{
        display: block;
    }
    .portafolio__galeria{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    .equipo__contenedor{
        display: grid;
        grid-template-areas: 
        "equipoTexto"
        "equipoImg"
        "equipoBoton";
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }
    .equipo__texto{
        width: 95%;
    }
    .equipo__texto p,.equipo__texto h3{
        text-align: center;
    }
    .equipo__img{
        margin-top: 2rem;
        width: 80%;
        height: 20rem;
    }
}

@media (max-width: 908px){
    .header__redes{
        display: none;
    }
    .header__menu{
        width: 95%;
        position: relative;
        left: 0;
    }
    .header__nav div{
        display: flex;
        flex-direction: column;
    }
    .header__logo{
        margin-bottom: 0.5rem;
    }
    .header__extra{
        display: none;
    }
    #header__index{
        display: grid;
        grid-template-areas: 
        "nav nav"
        "texto extra";
        grid-template-columns: 1fr 0.2fr;
        grid-template-rows: auto auto;
        grid-row-gap: 6rem;
        grid-column-gap: 1rem;
        margin-bottom: 6rem;
    }
    .header__texto{
        margin-left: 2rem;
    }
    .nosotros__contenedor{
        margin: 6rem 0rem;
    }
    .servicios__texto{
        margin-top: 6rem;
    }
    .servicios__precios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 32rem 32rem;
    }
    .portafolio__titulo{
        margin-top: 6rem;
    }
    .contacto__contenedor{
        display: grid;
        grid-template-areas: 
        "contactoMap"
        "contactoTexto"
        "contactoFormu";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 1rem;
    }
    .contacto__mapa iframe{
        width: 90%;
        height: 15rem;
    }
    .contacto__contenedor{
        width: 90%;
    }
    .footer__redes{
        display: none;
    }
    .footer__contenedor{
        grid-template-areas: 
        "footerLogo footerLogo footerLogo"
        "footerDirec footerRedes footerLegal"
        "footerInfo footerInfo footerInfo";
        grid-template-columns: 1fr 0.01fr 1fr;
        grid-template-rows: auto 5rem auto;
        grid-row-gap: 0.5rem;
    }
    
}

@media (max-width: 768px){

    .header__menu li{
        margin: 0rem 1rem;
    }
    .servicios__destacados{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem;
        grid-row-gap: 1rem;
    }
    .servicios__precios{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30rem 30rem 30rem;
    }
    
    .portafolio__galeria--4{
        display: none;
    }
    .portafolio__galeria{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 2rem;
    }
    .servicios__mantenimiento{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem;
        grid-row-gap: 2rem;
    }
}

@media (max-width:576px){
    .header__menu li{
        margin: 0rem 0.3rem;
    }
    .header__texto h2{
        font-size: 3.5rem;
    }
}
@media (max-width:550px){
    .header__menu li a{
        font-size: 1rem;
    }
    .header__menu li{
        margin: 0rem 0.4rem;
    }
    .header__texto h1{
        font-size: 1.1rem;
    }
    .header__texto h2{
        font-size: 3rem;
    }
    
}
@media (max-width:433px){
    .header__menu li a{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .header__menu li{
        margin: 0rem 0.3rem;
    }
    .header__texto h2{
        font-size: 2.8rem;
    }

}



